<% title = t("views.contact_preference.edit.title") %>
<% content_for :page_title, title %>
<section class="slab question-layout <%= controller_name.gsub("_", "-") %>-outer">
  <div class="grid">
    <div class="grid__item question-wrapper">
      <h1 class="h2" id="main-question"><%= title %></h1>
      <p><%= t("views.contact_preference.edit.subtitle") %></p>
        <%= form_with model: @form, url: { action: :update }, method: "patch", builder: VitaMinFormBuilder do |f| %>
          <div class="options-wrapper">
            <div class="yes-no-buttons">
              <%= f.hidden_field :locale, value: params['locale'] %>
                <%= f.button :submit, name: "#{f.object_name}[contact_preference]", value: "text", class: "button" do %>
                  <%= t("views.contact_preference.edit.text_message_option") %>
                <% end %>
              <%= f.button :submit, name: "#{f.object_name}[contact_preference]", value: "email", class: "button" do %>
                <%= t("views.contact_preference.edit.email_option") %>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</section>
