<% title = t("views.phone_number.edit.title") %>
<% content_for :page_title, title %>
<section class="slab question-layout <%= controller_name.gsub("_", "-") %>-outer">
  <div class="grid">
    <div class="grid__item question-wrapper">
      <h1 class="h2" id="main-question"><%= title %></h1>
      <%= form_with model: @form, url: phone_number_path, local: true, data: { turbo: false }, method: :patch, builder: VitaMinFormBuilder do |f| %>
        <div class="white-group">
          <%= f.cfa_input_field(:phone_number, t("views.phone_number.edit.phone_number_label"), help_text: t("views.phone_number.edit.numbers_only"), classes: ["form-width--long"]) %>
        </div>

          <button type="submit" class="button button--primary button--wide spacing-below-15">
            <%= t("general.submit") %>
          </button>
      <% end %>
    </div>
  </div>
</section>

