<% content_for :html_class, "state-file-html-bg--" %>
<% content_for :body_class, "state-file us-state--" %>
<% content_for :page_title, t("views.pages.home.headline") %>

<% title = t("views.pages.home.headline") %>

<div class="warning">
  <%= t("views.pages.home.closed_warning") %>
</div>
<h1 class="h1 strong"><%= title %></h1>
<div class="spacing-below-25">
  <%= t("views.pages.home.closed_forever_subheader_html", faq_link: "https://www.fileyourstatetaxes.org/#{I18n.locale == :en ? '' : I18n.locale}/us/faq") %>
</div>

<%= link_to year_select_path, class: "button home-button button--primary", id: "firstCta", role: "button" do %>
  <%= t("views.pages.home.download_your_return") %>
<% end %>

<div class="spacing-below-25">
  <%= link_to "https://www.getyourrefund.org/en", class: "button home-button no-external", id: "firstCta", role: "button" do %>
    <%= image_tag("icons/uswds-launch.svg", alt: "", class: "button__icon") %>
    <%= t("views.pages.home.visit_gyr") %>
  <% end %>
</div>