<% content_for :html_class, "state-file-html-bg--" %>
<% content_for :body_class, "state-file us-state--" %>
<% content_for :page_title, t("views.pages.home.headline") %>

<main id="maincontent">
  <div class="home-container">
    <div class="home-content">
      <h1 class="h1 strong">TEST TEST TEST</h1>

      <p><%= t("views.pages.home.integration_html").html_safe %></p>

      <p class="strong-text"><%= t("views.pages.home.closed_notice_html") %></p>

      <p><%= t("views.pages.home.download_notice_html").html_safe %></p>

      <%= link_to t("views.pages.home.sign_in"), year_select_path, class: "button button--primary button--wide" %>
    </div>

    <%= image_tag("welcome.svg", class: "home-image", alt: "") %>
  </div>
</main>
