<body class="state-file us-state--">
  <div class="page-wrapper">
    <div class="page-content">
      <main id="maincontent">
        <div class="fyst-home-container">
          <div class="fyst-home-content">
            <h1 class="h1 strong"><%= t("views.pages.home.headline") %></h1>

            <p><%= t("views.pages.home.integration_html").html_safe %></p>

            <p class="strong-text"><%= t("views.pages.home.closed_notice_html") %></p>

            <p><%= t("views.pages.home.download_notice_html").html_safe %></p>

            <%= link_to t("views.pages.home.sign_in"), root_path, class: "button button--primary button--wide" %>
          </div>

          <%= image_tag("welcome.svg", class: "pya-home-image", alt: "") %>
        </div>
      </main>
    </div>
  </div>
</body>
