<div class="slab slab--footer">
  <div class="grid">
    <div class="grid__item width-three-fourths footer-description">
      <p>
        <%= image_tag("fyst-logo.svg", alt: "FileYourStateTaxes", title: "FileYourStateTaxes", class: "fyst-logo") %>
      </p>
      <p><%= t("views.layouts.footer.built_by_html").html_safe %></p>
    </div>
    <ul class="grid__item width-one-fourth footer-links">
      <li><%= link_to t("views.layouts.footer.contact_us"),
                      t("views.layouts.footer.contact_us_url"),
                      class: "no-external" %></li>

      <li><%= link_to t("views.layouts.footer.faq"),
                      t("views.layouts.footer.faq_url"),
                      class: "no-external" %></li>

      <li><%= link_to t("views.layouts.footer.privacy_policy"),
                      t("views.layouts.footer.privacy_policy_url"),
                      class: "no-external" %></li>

      <li><%= link_to t("views.layouts.footer.sms_terms"),
                      t("views.layouts.footer.sms_terms_url"),
                      class: "no-external" %></li>

      <li><%= link_to t("views.layouts.footer.spanish"),
                      "/es",
                      lang: "es",
                      id: "locale_switcher_es",
                      class: "no-external" %></li>
    </ul>

  </div>
</div>
